/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #E9FFE0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin: 20px;
    background-color: whitesmoke;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 15px;
    box-sizing: border-box;
}

.taking-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgb(85, 0, 255);
    color: white;
    border-radius: 15px 15px 0 0;
}

h1 {
    text-align: center;
    margin: 0;
}

section {
    margin-bottom: 20px;
}

label, input, button {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    font-size: 16px;
}

input {
    background-color: rgb(85, 0, 255);
    color: white;
    width: fit-content;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    color: rgb(85, 0, 255);
    cursor: pointer;
    width: auto;
    margin: 0 auto;
}

button:hover {
    color: black;
}

.conversion-type {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

h2 {
    color: blue;
    font-size: large;
    text-align: center;
    margin: 10px 0;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    width: calc(100% - 20px);
}

article p {
    margin: 0;
    font-size: 12px;
    color: #555;
    text-align: center;
}
